[submodule "kbe/src/lib/dependencies/zlib"]
	path = kbe/src/lib/dependencies/zlib
	url = https://github.com/madler/zlib.git
[submodule "kbe/src/lib/dependencies/fmt"]
	path = kbe/src/lib/dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "kbe/src/lib/dependencies/jemalloc"]
	path = kbe/src/lib/dependencies/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "kbe/src/lib/dependencies/curl"]
	path = kbe/src/lib/dependencies/curl
	url = https://github.com/curl/curl.git
[submodule "kbe/src/lib/dependencies/hiredis"]
	path = kbe/src/lib/dependencies/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "kbe/src/lib/dependencies/g3dlite"]
	path = kbe/src/lib/dependencies/g3dlite
	url = https://github.com/CasinoHe/g3dlite.git
[submodule "kbe/src/lib/dependencies/tinyxml"]
	path = kbe/src/lib/dependencies/tinyxml
	url = https://github.com/CasinoHe/tinyxml-cmake.git
[submodule "kbe/src/lib/dependencies/sigar"]
	path = kbe/src/lib/dependencies/sigar
	url = https://github.com/CasinoHe/sigar.git
[submodule "kbe/src/lib/dependencies/tmxparser"]
	path = kbe/src/lib/dependencies/tmxparser
	url =https://github.com/CasinoHe/tmxparser.git
[submodule "kbe/src/lib/dependencies/jwsmtp"]
	path = kbe/src/lib/dependencies/jwsmtp
	url = https://github.com/CasinoHe/jwsmtp.git
[submodule "kbe/src/lib/dependencies/apr"]
	path = kbe/src/lib/dependencies/apr
	url = https://github.com/apache/apr.git
